header{
    /* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 170px;

width: 1440px;
height: 195px;

background: #171D25;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;




}
.Game{
    align-items: center;
    display: flex;
    justify-content: center;


}
.nav-btn{
    
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 20px;
gap: 10px;

position: relative;
width: 99px;
height: 34px;

background: #0056B9;
border-radius: 10px;

}

.footer-info{
    background: #0056B9;
    border-radius: 10px;
    color: white;
    z-index: 1;
    position: relative;
    top: 0;
}