.running-stroke {
    width: 100%;
    display: flex;
    overflow: hidden;
    background: #333;
    padding: 15px 0;
    white-space: nowrap;
    height: 70px;
    margin-top: 10px;
    box-sizing: border-box;
}

.running-stroke p {
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    transform: translateX(100%); /* починаємо з правого краю */
    animation: anim 20s linear infinite;
}

@keyframes anim {
    0% {
        transform: translateX(100%);
    }
    50%{
        transform: translate(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Пауза при наведенні миші (необов’язково) */
.running-stroke:hover p {
    animation-play-state: paused;
}